* {
  box-sizing: border-box;
}

html {
  font-family: Arimo, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}


.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colour-transition {
    transition-property: color, background-color, border-color;
    transition-duration: 150ms;
}

.text-bigger {
    font-size: 1.44rem;
}

.text-big {
    font-size: 1.2rem;
}

.text-small {
    font-size: 0.8333rem;
}